@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-color: black;
	overflow: hidden;
	margin: 0;

	color: white;
	font-size: 1.5em;
	font-family: Raleway, sans-serif;
	letter-spacing: .1em;
}

.falling {
	position: absolute;
	margin: 0;
	padding: 0;

	top: 0px;
}

#inputbox {
	padding: 60px 75px;
	background-color: rgba(25, 25, 25, 0.35);
	border-radius: 40px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 1;
}

#input {
	font-size: 1.75em;
	text-align: center;

	/*background-color: rgba(25, 25, 25, 0.5);*/
	background-color: black;
	color: white;
	border-width: 1px;
	border-color: rgb(50, 50, 50);
}
