@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-color: black;
	overflow: hidden;
	margin: 0;

	color: white;
	font-size: 1.5em;
	font-family: Raleway, sans-serif;
	letter-spacing: .1em;
}

.falling {
	position: absolute;
	margin: 0;
	padding: 0;

	top: 0px;
}

#inputBox {
	/* Set display none by default to prevent glitchy disappearing on load with default text or bee quotes */
	display: none;

	padding: 60px 70px 30px 70px;
	background-color: rgba(25, 25, 25, 0.2);
	border: 1px solid rgb(100, 100, 100);
	border-radius: 30px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 1;
}

#input {
	font-size: 1.5em;
	text-align: center;

	/*background-color: rgba(25, 25, 25, 0.5);*/
	background-color: black;
	color: white;
	border-width: 1px;
	border-color: rgb(50, 50, 50);
	border-radius: 15px;

	outline-width: 0;
	padding: 10px 0px;
}

#buttons {
	display: flex;
	justify-content: center;

	margin-top: 30px;
}

#buttons button {
	background-color: rgba(50, 50, 50, .5);
	border-color: rgb(50, 50, 50);
	color: rgb(240, 240, 240);

	font-size: .7em;
	border-radius: 10px;
	outline-width: 0;

	flex: 0 0 45%; /* Same width */

	padding: 10px 15px;
}

/*
#buttons button + button {
	margin-left: 10%;
}*/

#buttons button:active {
	box-shadow: 0 1px 0 rgb(50, 50, 50);
}

/*#btn_beeQuote {*/
	/* display: none; */ /* hidden by default, shown only when beeQuotes enabled */
/*}*/
