@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-color: black;
	overflow: hidden;
	margin: 0;

	color: white;
	font-size: 1.5em;
	font-family: Raleway, sans-serif;
	letter-spacing: .1em;
}

.falling {
	position: absolute;
	margin: 0;
	padding: 0;

	top: 0px;
}

#inputBox {
	/* Set display none by default to prevent glitchy disappearing on load with default text or bee quotes */
	display: none;

	padding: 60px 70px 20px 70px;
	background-color: rgba(25, 25, 25, 0.2);
	border: 1px solid rgb(100, 100, 100);
	border-radius: 30px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	z-index: 1;
}

#input {
	font-size: 1.5em;
	text-align: center;

	/*background-color: rgba(25, 25, 25, 0.5);*/
	background-color: black;
	color: white;
	border-width: 1px;
	border-color: rgb(50, 50, 50);
	border-radius: 15px;

	outline-width: 0;
	padding: 10px 0px;
}

button {
	background-color: rgba(50, 50, 50, .5);
	border-color: rgb(50, 50, 50);
	color: rgb(240, 240, 240);

	font-size: .7em;
	border-radius: 10px;
	outline-width: 0;

	padding: 10px 15px;
}

#sharing-window {
	display: none;
	/*display: flex;*/
	flex-direction: column;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -55%);

	width: 75%;
	height: 70%;

	text-align: center;

	background-color: rgba(0, 255, 0, .5);

	z-index: 5;
}

#sharing-buttons {
	margin-top: auto; /* position at bottom */
}

/* Space out buttons */
#sharing-buttons button + button {
	margin-left: 5px;
}

#input-box-buttons {
	display: flex;
	justify-content: center;

	margin-top: 20px;
}

#input-box-buttons button {
	flex: 0 0 45%; /* Same width */
}

#input-box-buttons button:active {
	box-shadow: 0 1px 0 rgb(50, 50, 50);
}

#footer {
	position: absolute;
	bottom: 0;
	z-index: 1;

	width: 100%;
	height: 70px;

	background-color: rgba(20, 20, 20, .5);
/*
	display: flex;
	justify-content: center;
	align-items: center;*/
}

#footer p {
	align-item: center;
}

#footer-buttons {
	height: 100%;

	display: flex;

	justify-content: center;
	align-content: center;
	align-items: center;
}

#footer-buttons button {
	margin-top: 5px;
	padding: 8px 25px;

	flex: 0 0 auto;
}

/* Space out buttons */
#footer-buttons button + button {
	margin-left: 50px;
}
